name: Deploy Components to Mainnet

on:
  push:
    branches: [main]
    paths:
      - widget/**

jobs:
  deploy-mainnet:
    uses: nearbuilders/bos-workspace/.github/workflows/deploy.yml@main
    with:
      deploy-env: "mainnet"
      bw-legacy: false
      app-name: "builddao.near"
      deploy-account-address: "builddao.near"
      signer-account-address: "builddao.near"
      signer-public-key: "ed25519:ELLHoQ4DDwFCf8eHxcy1NDwd3qLvVzPxUzuXPBdX7cpQ"
    secrets:
      SIGNER_PRIVATE_KEY: ${{ secrets.BOS_BUILDDAO_SIGNER_PRIVATE_KEY }}
